@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,600,700,700i|Material+Icons");
@font-face {
  font-family: "HK Grotesk";
  src: url("../fonts/HKGrotesk-Light.woff2") format("woff2");
  src: url("../fonts/HKGrotesk-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: "HK Grotesk";
  src: url("../fonts/HKGrotesk-Regular.woff2") format("woff2");
  src: url("../fonts/HKGrotesk-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: "HK Grotesk";
  src: url("../fonts/HKGrotesk-Medium.woff2") format("woff2");
  src: url("../fonts/HKGrotesk-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: "HK Grotesk";
  src: url("../fonts/HKGrotesk-Semibold.woff2") format("woff2");
  src: url("../fonts/HKGrotesk-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: "HK Grotesk";
  src: url("../fonts/HKGrotesk-Bold.woff2") format("woff2");
  src: url("../fonts/HKGrotesk-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: "HK Grotesk";
  src: url("../fonts/HKGrotesk-LightItalic.woff2") format("woff2");
  src: url("../fonts/HKGrotesk-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic; }
@font-face {
  font-family: "HK Grotesk";
  src: url("../fonts/HKGrotesk-RegularItalic.woff2") format("woff2");
  src: url("../fonts/HKGrotesk-RegularItalic.woff") format("woff");
  font-weight: 400;
  font-style: italic; }
@font-face {
  font-family: "HK Grotesk";
  src: url("../fonts/HKGrotesk-MediumItalic.woff2") format("woff2");
  src: url("../fonts/HKGrotesk-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic; }
@font-face {
  font-family: "HK Grotesk";
  src: url("../fonts/HKGrotesk-SemiboldItalic.woff2") format("woff2");
  src: url("../fonts/HKGrotesk-SemiboldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic; }
@font-face {
  font-family: "HK Grotesk";
  src: url("../fonts/HKGrotesk-BoldItalic.woff2") format("woff2");
  src: url("../fonts/HKGrotesk-BoldItalic.woff") format("woff");
  font-weight: 700;
  font-style: italic; }
* {
  box-sizing: content-box;
  font-variant-ligatures: none; }

strong {
  font-weight: 700; }

p {
  hyphens: auto; }

blockquote p {
  hanging-punctuation: first; }

ul.square {
  list-style: none;
  padding: 0;
  margin: 0; }
  ul.square li {
    padding-left: 1em;
    text-indent: -0.7em; }
    ul.square li::before {
      content: "▪  ";
      color: #1878a1; }

body {
  background: #F6F6F6;
  color: #333;
  font-size: 13px;
  line-height: 18px;
  font-family: "Source Sans Pro", "Helvetica Neue", HelveticaNeue, Helvetica, Arial, "Nimbus Sans L", "TeX Gyre Heros", TeXGyreHeros, FreeSans, "Liberation Sans", sans-serif; }
  body header {
    /*box-shadow: 0 2px 5px rgba(0,0,0,.26) */
    width: 100%;
    background: #fff; }
    body header nav {
      background: #315767;
      width: 100%;
      display: table; }
      body header nav a.logo {
        height: 3.5rem;
        width: 3.5rem;
        color: #fff;
        text-decoration: none;
        display: table-cell;
        vertical-align: middle;
        padding-left: 75px;
        background: url("../asset/logow.svg") -30px 50%/130px auto no-repeat; }
        body header nav a.logo::after {
          content: "GobettiVolta";
          font-size: 1rem;
          font-weight: 600; }
  body main {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto; }
    body main div.breadcrumbs {
      padding-top: 1rem;
      padding-bottom: 1rem;
      font-size: 0.85rem; }
      body main div.breadcrumbs::before {
        content: "Ti trovi in: ";
        color: rgba(0, 0, 0, 0.44);
        float: left;
        padding-right: 0.5rem; }
      body main div.breadcrumbs ol {
        list-style: none; }
        body main div.breadcrumbs ol li {
          display: inline-block; }
          body main div.breadcrumbs ol li a {
            color: black; }
        body main div.breadcrumbs ol li:nth-of-type(n+2)::before {
          content: ">";
          padding-left: 0.5rem;
          padding-right: 0.5rem;
          color: rgba(0, 0, 0, 0.44); }
    body main a[href*="//"]:not([href*="http://gobettivolta.gov.it"])::before {
      font-family: FontAwesome;
      font-size: 0.9rem;
      content: " "; }
    body main a[href*=".pdf"]::after {
      font-family: FontAwesome;
      font-size: 0.9rem;
      content: " "; }
    body main nav.sidenav {
      display: none;
      height: 200px;
      overflow: visible;
      position: sticky;
      top: 0; }
    body main article {
      counter-reset: h2counter;
      padding-bottom: 3rem;
      border-bottom: solid #DEE0E2 5px;
      margin-bottom: 3rem; }
      body main article div.author {
        min-height: 120px;
        position: relative;
        vertical-align: middle;
        font-size: 0.9rem;
        border: solid black 1px;
        border-radius: 0.7rem;
        padding: 0 3rem; }
        body main article div.author div.authorimg {
          position: absolute;
          top: 50%;
          transform: translate(0, -50%);
          float: left; }
          body main article div.author div.authorimg img {
            left: 50%;
            width: 60px;
            height: 60px;
            border-radius: 60px; }
        body main article div.author div.authortext {
          position: absolute;
          top: 50%;
          transform: translate(0, -50%);
          margin-left: 80px;
          padding-right: 3rem;
          display: block; }
          body main article div.author div.authortext p.authordesc {
            opacity: 0.44; }
      body main article > span, body main article > p, body main article > ul, body main article > table {
        caption-side: bottom;
        font-size: 1rem;
        line-height: 150%; }
        body main article > span caption, body main article > p caption, body main article > ul caption, body main article > table caption {
          padding: 1em 0; }
      body main article aside {
        padding: 1rem;
        margin: 1rem 0;
        display: block;
        font-size: 0.8rem;
        background: #DEE0E2; }
        body main article aside div.rowgroup {
          padding: 0.5em 0; }
          body main article aside div.rowgroup span {
            display: block; }
          body main article aside div.rowgroup span.coursetitle {
            display: block;
            position: relative;
            left: -1rem;
            border-left: #ff471c solid 3px;
            padding-left: 1rem;
            color: #ff471c;
            font-weight: bold; }
      body main article table.timetable {
        border-collapse: collapse;
        font-size: 0.9rem;
        width: 100%;
        table-layout: fixed;
        border-spacing: 5px; }
        body main article table.timetable td, body main article table.timetable th {
          border: solid white 5px;
          padding: 0.5rem;
          vertical-align: middle; }
        body main article table.timetable thead th, body main article table.timetable tfoot th {
          font-weight: bold; }
        body main article table.timetable td:empty {
          background: transparent; }
        body main article table.timetable thead tr th {
          vertical-align: middle; }
        body main article table.timetable thead tr th:nth-of-type(1) {
          width: 30%; }
        body main article table.timetable thead tr th:nth-of-type(2) {
          color: white;
          width: calc(40% * 70%); }
        body main article table.timetable thead tr th:nth-of-type(3) {
          color: white;
          widows: calc(60% * 70%); }
        body main article table.timetable thead tr:nth-of-type(1) #biennio {
          background: #1878a1; }
        body main article table.timetable thead tr:nth-of-type(1) #triennio {
          background: #ff471c; }
        body main article table.timetable thead tr:nth-of-type(2) {
          color: white; }
          body main article table.timetable thead tr:nth-of-type(2) th:nth-of-type(1), body main article table.timetable thead tr:nth-of-type(2) th:nth-of-type(2) {
            background: #5BA4C3; }
          body main article table.timetable thead tr:nth-of-type(2) th:nth-of-type(n+3) {
            background: #FF8D72; }
        body main article table.timetable tbody tr th {
          text-align: left; }
        body main article table.timetable tbody tr td:nth-of-type(n+1) {
          text-align: center; }
        body main article table.timetable tbody tr:nth-of-type(odd) {
          background: #DEE0E2; }
        body main article table.timetable tfoot {
          border-top: solid 2px black;
          border-bottom: dashed 2px #DEE0E2; }
          body main article table.timetable tfoot tr th {
            text-align: left; }
          body main article table.timetable tfoot tr td {
            text-align: center; }
      body main article a {
        color: #1878a1;
        text-decoration: none;
        border-bottom: solid 1px;
        transition: border 0.2s ease; }
      body main article a:hover {
        border-bottom: solid 3px; }
      body main article span.artsub {
        opacity: 0.44; }
      body main article ul {
        list-style: disc;
        list-style-position: inside; }
        body main article ul li ul {
          list-style: circle; }
          body main article ul li ul li ul {
            list-style: square; }
      body main article h1 {
        counter-reset: h2counter;
        font-family: "Source Sans Pro", "Helvetica Neue", HelveticaNeue, Helvetica, Arial, "Nimbus Sans L", "TeX Gyre Heros", TeXGyreHeros, FreeSans, "Liberation Sans", sans-serif;
        line-height: 100%;
        font-size: 2rem;
        margin-top: 0.5em;
        margin-bottom: 0.3em;
        font-weight: 600; }
      body main article h2 {
        line-height: 100%;
        font-family: "Source Sans Pro", "Helvetica Neue", HelveticaNeue, Helvetica, Arial, "Nimbus Sans L", "TeX Gyre Heros", TeXGyreHeros, FreeSans, "Liberation Sans", sans-serif;
        font-size: 1.5rem;
        margin-top: 0.7em;
        margin-bottom: 0.3em;
        font-weight: 600; }
      body main article h3 {
        text-transform: uppercase;
        font-family: "Source Sans Pro", "Helvetica Neue", HelveticaNeue, Helvetica, Arial, "Nimbus Sans L", "TeX Gyre Heros", TeXGyreHeros, FreeSans, "Liberation Sans", sans-serif;
        font-weight: 700;
        font-size: 0.9rem; }
      body main article > p, body main article > span {
        padding-top: 0.2rem;
        padding-bottom: 1rem; }
      body main article img.artimg {
        width: 100%;
        height: 20rem;
        object-fit: cover; }
  body footer {
    padding: 1rem 2rem; }

@media only screen and (max-width: 630px) {
  body header nav div.navright {
    font-weight: bold;
    width: 100%;
    left: 100%;
    position: fixed;
    background: black;
    opacity: 1;
    text-align: center;
    z-index: 3;
    padding-top: 3.5rem;
    height: 100%; }
    body header nav div.navright a {
      font-variant: small-caps;
      opacity: 0.7;
      padding-top: 2rem;
      display: block;
      color: white;
      text-decoration: none;
      font-size: 3rem;
      line-height: 4rem;
      font-weight: 400;
      z-index: 5; }
      body header nav div.navright a:hover {
        opacity: 1; }
  body header nav #menu-toggle {
    display: none; }
  body header nav #menu-toggle + label {
    font-family: FontAwesome;
    display: block; }
  body header nav #menu-toggle + label::after {
    position: absolute;
    z-index: 5;
    top: 0;
    right: 0;
    color: #fff;
    content: "";
    line-height: 3.5rem;
    float: right;
    padding: 0 1rem 0 1rem; }
  body header nav #menu-toggle:checked + label::after {
    position: fixed;
    content: "";
    color: white; }
  body header nav #menu-toggle:checked ~ div.navright {
    left: 0; }
  body header nav #menu-toggle:checked ~ .logo {
    position: fixed; } }
@media only screen and (min-width: 631px) {
  body header nav {
    border-spacing: 20px 0; }
    body header nav #menu-toggle, body header nav #menu-toggle + label {
      display: none; }
    body header nav a.logo {
      background: url("../asset/logow.svg") 0 50%/50px auto no-repeat;
      padding-left: 60px; }
    body header nav div.navright {
      padding: 1rem;
      width: auto;
      display: table-cell;
      text-align: right; }
      body header nav div.navright a {
        font-family: "HK Grotesk";
        vertical-align: middle;
        display: inline-block;
        letter-spacing: 0.1em;
        transition: all 0.2s ease-in;
        text-transform: uppercase;
        font-size: 0.8rem;
        font-weight: 700;
        display: inline-block;
        padding: 0 1rem 0 1rem;
        height: 3.5rem;
        line-height: 3.5rem;
        text-decoration: none;
        color: #fff;
        opacity: 0.7; }
        body header nav div.navright a.active {
          opacity: 1; }
        body header nav div.navright a:hover {
          opacity: 1; }
      body header nav div.navright label, body header nav div.navright label + input {
        display: none; }
  body main {
    max-width: 630px;
    margin-left: auto;
    margin-right: auto; }
  body main article aside {
    margin: 1rem;
    float: right;
    width: 190px; }
  body main article > span, body main article > p, body main article > ul, body main article > table {
    font-size: 1rem; }
  body main article h1 {
    font-size: 3.8rem; }
  body main article h2 {
    font-size: 2rem; } }
@media only screen and (min-width: 1025px) {
  body header nav a.logo::before {
    content: "Istituto";
    font-size: 0.9rem;
    font-weight: normal;
    display: block; }
  body header nav a.logo::after {
    font-size: 1.2rem; }
  body footer {
    background: #315767; }
  body main {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    display: flex; }
    body main nav.sidenav, body main div.content {
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 0;
      margin: 10px; }
    body main nav.sidenav {
      display: block;
      position: sticky;
      top: 10px;
      max-width: 20%; }
      body main nav.sidenav span.sitesection {
        color: rgba(0, 0, 0, 0.44);
        display: block;
        padding: 1rem 1rem;
        text-transform: uppercase;
        font-weight: 700; }
      body main nav.sidenav ol {
        max-width: 250px; }
        body main nav.sidenav ol li a {
          text-decoration: none;
          color: #000;
          width: 100%;
          font-size: 0.9rem;
          display: block;
          padding: 0.4rem 0 0.4rem 1.5rem;
          text-align: left;
          border-left: #DEE0E2 solid 3px;
          transition: all 0.2s ease-in; }
        body main nav.sidenav ol li a:hover {
          background: #DEE0E2;
          border-left: #1878a1 solid 3px; }
        body main nav.sidenav ol > li ol > li {
          padding-left: 1.5rem;
          clear: both; }
          body main nav.sidenav ol > li ol > li a.active {
            font-weight: 600;
            color: #1878a1; }
        body main nav.sidenav ol > li > a.active {
          border-left: #1878a1 solid 3px;
          font-weight: 600;
          color: #1878a1; }
    body main div.content {
      padding: 0 1rem; } }
div.collab {
  height: 150px;
  display: flex;
  align-items: center; }
  div.collab div.inaf {
    background: url("../asset/inaf_col.gif") no-repeat 0 50%;
    background-size: contain;
    width: 50%;
    height: 100%;
    filter: grayscale(1) opacity(0.7); }
    div.collab div.inaf:hover {
      filter: grayscale(0) opacity(1); }
  div.collab div.unifi {
    background: url("../asset/logo_unifi.jpg") no-repeat 0 50%;
    background-size: contain;
    width: 50%;
    height: 100%;
    filter: opacity(0.7); }
    div.collab div.unifi:hover {
      filter: opacity(1); }

.ls_link::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  margin-right: 5px;
  background: #0B8040; }

#toggle {
  display: none; }

#toggle + label {
  position: absolute;
  display: block;
  bottom: 50px;
  background: #ff471c;
  width: 56px;
  height: 56px;
  border-radius: 56px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.12), 0 8px 8px 0 rgba(0, 0, 0, 0.24);
  color: #fff;
  line-height: 56px;
  text-align: center;
  transition: all 500ms ease;
  right: 0;
  z-index: 6;
  cursor: pointer; }
  #toggle + label i {
    position: absolute;
    line-height: 56px;
    text-align: center;
    top: 0;
    width: 100%;
    left: 0; }

#toggle + label {
  font-size: 4rem; }

#toggle:checked + label {
  transform: rotate(45deg); }

.shortcuts {
  position: fixed;
  bottom: 0;
  right: 50px;
  width: 50px;
  z-index: 5; }
  .shortcuts #scutmenu {
    z-index: 5;
    position: absolute;
    bottom: 45px;
    right: 5px;
    width: inherit; }
    .shortcuts #scutmenu li {
      position: absolute;
      box-shadow: none;
      opacity: 0;
      bottom: 0;
      right: 0;
      transition: all 500ms cubic-bezier(0.17, 0.04, 0.03, 0.94); }
      .shortcuts #scutmenu li a {
        background-color: #fff;
        border-radius: 50px;
        box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.12), 0 8px 8px 0 rgba(0, 0, 0, 0.24);
        line-height: 60px;
        text-align: center;
        color: #ff471c;
        z-index: 5;
        width: inherit;
        width: 50px;
        height: 50px;
        display: block;
        transition-property: transform;
        transition-duration: 0.4s; }
      .shortcuts #scutmenu li a:hover {
        transform: scale(1.15); }

#scutmenu > li a::before {
  line-height: normal;
  text-align: right;
  display: inline-block;
  position: absolute;
  background: #ff471c;
  top: 15px;
  right: 60px;
  padding: 4px;
  border-radius: 4px;
  color: #fff;
  font-size: 1rem;
  overflow: hidden;
  white-space: nowrap; }

#toggle:checked ~ #scutmenu li {
  opacity: 1; }
  #toggle:checked ~ #scutmenu li:first-of-type {
    transform: translate(0, -290px); }
  #toggle:checked ~ #scutmenu li:nth-of-type(2) {
    transform: translate(0, -220px); }
  #toggle:checked ~ #scutmenu li:nth-of-type(3) {
    transform: translate(0, -150px); }
  #toggle:checked ~ #scutmenu li:nth-of-type(4) {
    transform: translate(0, -80px); }

#cvv::before {
  content: "Registro Elettronico"; }

#sdg::before {
  content: "Segreteria Digitale"; }

#circ::before {
  content: "Circolari e Comunicazioni"; }

#mail::before {
  content: "Webmail"; }

#toggle:checked ~ #scutmenu {
  transition-property: opacity;
  transition-duration: 0.7s;
  opacity: 1; }

/*# sourceMappingURL=style.css.map */
